main {
    background-color: #000;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;
}

article {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
    padding: 30px;
    border: 2px solid #fff;
    max-width: 30%;
    margin: auto;
    border-radius: 30px;
    min-height: 30%;
}

article:first-of-type {
    background: url(https://images.unsplash.com/photo-1417533366444-43834ad6b3bb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1475&q=80);
    background-size: cover;
    background-repeat: no-repeat;
}

a {
    color: #fff;
    text-decoration: none;
    font-size: 29px;
    text-shadow: 0 0 4px #000;
}

a:hover {
    color: #fff;
    text-decoration: none;
}

article:first-of-type:hover {
    transform: scale(1.2);
}